@charset "ISO-8859-1";

.grid{
	display: grid;
	grid-template-columns: auto auto auto;
}

.grid-data{
	display: grid;
	grid-template-columns: auto auto;
}

p{
	margin: 5px 0px;
	font-size: 20px;
}

table p, input{
	margin-top: 10px;
	margin-bottom: 3px;
}

table input{
	font-size: 16px;
}

table p {
	margin-right: 10px;
	font-size: 20px;
}

#info{
	margin: 5px 0px;
	font-size: 16px;
}
