@charset "ISO-8859-1";

p{
	margin: 5px 0px;
	font-size: 16px;
}

#terms{
	font-size: 18px;
}

#r{
	font-size: 26px;
}

table p, input{
	margin-top: 10px;
	margin-bottom: 3px;
}

table input{
	font-size: 16px;
}

table p {
	margin-right: 10px;
	font-size: 20px;
}
